<button
  type="button"
  class="btn btn-sm btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Zgłoś błąd !
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formularz zgłoszenia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <report-form></report-form>
      </div>
    </div>
  </div>
</div>
